@charset "UTF-8";

:root{
    --cor1: #A9B1A1;
    --cor2: #8B9386;
    --cor3: #4D4D3D;
    --cor4: #F0F0EB;
    --cor5: #FFE849;
    --font: 'Lato';
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0px;
    font-family: var(--font);
}

.template{
    margin: 0px;
    background-image: url('media/orquestra-1000px.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    

}
header{
    height: 20vh;
    background-color: var(--cor5);
}
nav{
    padding-top: 90px;
    padding-left: 10px;
}
a.menu{

}
main{
    height: 100vh;
    margin: 0px;
    background-color: var(--cor1);

}
footer{
    height: 50vh;
    background-color: var(--cor3);
}
#enter{
   margin: 20px 50px;
}
h1{
    margin: 0px;
    text-align: center;
    font-family: 'Lato';
    color: rgb(48, 48, 48);
    font-weight: bolder;
}
nav > a{
    color: var(--cor3);
    width: 30px;
    height: 20px;
    border-radius: 20px;
    margin-left: 30px;
    padding: 10px;
    text-decoration: none;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 1s;
    transition: 1s;
    
}

